<h1>Datos de prueba</h1>
<table border="1">
    <tr>
        <th>Cedula</th>
        <th>Nombre</th>
    </tr>
    <tr>
        <td>14522141</td>
        <td>Jose Rojas</td>
    </tr>
    <tr>
        <td>20545142</td>
        <td>Maria Perez</td>
    </tr>
</table>